# Chapter 6 - Retrieving, Processing, and Storing Data

In [2]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#import warnings
#warnings.filterwarnings("ignore")

## Reading and writing CSV files with pandas

In [4]:
# Real link: https://github.com/PacktPublishing/Python-Data-Analysis-Third-Edition/blob/master/Chapter05/HR_comma_sep.csv

# Use the raw link to access the actual CSV file
url = "https://raw.githubusercontent.com/PacktPublishing/Python-Data-Analysis-Third-Edition/master/Chapter05/HR_comma_sep.csv"

# Reading the CSV file
data = pd.read_csv(url)

# Display the first few rows of the DataFrame
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

```Python
# Read CSV file
data = pd.read_csv('data/demo.csv', sep=',' , header=None)

# Save DataFrame to CSV file
data.to_csv('data/demo_sample_df.csv')
```

## Reading and writing data from Excel

```Python
# Read excel file
df = pd.read_excel('employee.xlsx',sheet_name='performance')

# Write excel file
df.to_excel('employee_performance.xlsx')
```

We can also export multiple DataFrames in a single file with different sheet names. We can
also write more than one DataFrame in a single Excel file (each DataFrame on different
sheets) using `ExcelWriter`, as shown:

```Python
# Read excel file
emp_df = pd.read_excel('data/employee.xlsx',sheet_name='employee_details')

# write multiple dataframes to single excel file
with pd.ExcelWriter('data/new_employee_details.xlsx') as writer:
    emp_df.to_excel(writer, sheet_name='employee')
    df.to_excel(writer, sheet_name='perfromance')
```

## Reading and writing data from JSON

```Python
# Reading JSON file
df = pd.read_json('data/employee.json')

# Writing DataFrame to JSON file
df.to_json('data/employee_demo.json',orient="columns")
```

## Reading and writing data from HTML tables

In [13]:
# Reading HTML table from given URL
table_url ='https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'

df_list = pd.read_html(table_url)

print("Number of DataFrames:",len(df_list))

Number of DataFrames: 9

In [14]:
# Check first DataFrame
df_list[0].head()

,Flag,Map,"English short, formal names, and ISO [1][2][3][4]",Domestic short and formal name(s) [1][2],Capital [3][5][6],Population 2021 [7][8],Area [9],Currency [3]
0,NaN,NaN,Antigua and Barbuda[n 1] ATG,English: Antigua and Barbuda,St. John's,93219,442.6 km2 (171 sq mi),East Caribbean dollar
1,NaN,NaN,The Bahamas[n 1] Commonwealth of The Bahamas BHS,English: The Bahamas—Commonwealth of The Bahamas,Nassau,407906,"13,940 km2 (5,382 sq mi)",Bahamian dollar
2,NaN,NaN,Barbados[n 1] BRB,English: Barbados,Bridgetown,281200,431 km2 (166 sq mi),Barbadian dollar
3,NaN,NaN,Belize[n 1][n 2] BLZ,English: Belize,Belmopan,400031,"22,966 km2 (8,867 sq mi)",Belize dollar
4,NaN,NaN,Canada[n 3] CAN,English: Canada French: Canada,Ottawa,38155012,"9,984,670 km2 (3,855,103 sq mi)",Canadian dollar

In [15]:
# Write DataFrame to raw HTML
df_list[1].to_html('data/country.html')

With the preceding code example, we can convert any DataFrame into an HTML page that
contains the DataFrame as a table.

## Reading and writing data from a picklepandas object

```Python
# import pandas
import pandas as pd

# Read CSV file
df=pd.read_csv('demo.csv', sep=',' , header=None)

# Save DataFrame object in pickle file
df.to_pickle('demo_obj.pkl')
```

In the preceding code, we read the demo.csv file using the `read_csv()` method with
sep and header parameters. Here, we have assigned sep with a comma and header with
None. Finally, we have written the dataset to a pickle object using the `to_pickle()`
method. Let's see how to read pickle objects using the pandas library:

```Python
#Read DataFrame object from pickle file
pickle_obj=pd.read_pickle('demo_obj.pkl')

# display initial 5 recordspickle_obj.head()
```

### Lightweight access with sqllite3

In [22]:
# Import sqlite3
import sqlite3

# Create connection. This will create the connection with employee database. If the database does not exist it will create the database
conn = sqlite3.connect('data/employee.db')

# Create cursor
cur = conn.cursor()

# Execute SQL query and create the database table
cur.execute("create table emp(eid int,salary int)")

# Execute SQL query and Write the data into database
cur.execute("insert into emp values(105, 57000)")

# commit the transaction
conn.commit()

# Execute SQL query and Read the data from the database
cur.execute('select * from emp')

# Fetch records
print(cur.fetchall())

# Close the Database connection
conn.close()

[(105, 57000)]