# NLP Basics

### Read In Semi-structured Text Data

The raw dataset being used in this course can be found at: http://archive.ics.uci.edu/ml/datasets/SMS+Spam+Collection

In [3]:
# Read in and view the raw data
import pandas as pd

messages = pd.read_csv('data/spam.csv', encoding='latin-1')
messages.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
# Drop unused columns and label columns that will be used
messages = messages.drop(labels = ["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis = 1)
messages.columns = ["label", "text"]
messages.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
# How big is this dataset? 
messages.shape

(5572, 2)

In [6]:
# What portion of our text messages are actually spam?
messages['label'].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64

In [7]:
# Are we missing any data?
print('Number of nulls in label: {}'.format(messages['label'].isnull().sum()))
print('Number of nulls in text: {}'.format(messages['label'].isnull().sum()))

Number of nulls in label: 0
Number of nulls in text: 0

#### Remove Punctuation

In [9]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
# Define a function to remove punctuation in our messages
def remove_punct(text):
    text = "".join([char for char in text if char not in string.punctuation])
    return text

messages['text_clean']=messages['text'].apply(lambda x:remove_punct(x))

messages.head()

,label,text,text_clean
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...

#### Tokenize

In [12]:
# Define a function to split our sentences into a list of words
import re

def tokenize(text):
    tokens = re.split('\W+', text)
    return tokens

messages['text_tokenized'] = messages['text_clean'].apply(lambda x: tokenize(x.lower()))

messages.head()

,label,text,text_clean,text_tokenized
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[go, until, jurong, point, crazy, available, o..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[u, dun, say, so, early, hor, u, c, already, t..."
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l..."

#### Remove Stopwords

In [14]:
tokenize("I am learning NLP".lower())

['i', 'am', 'learning', 'nlp']

In [15]:
import nltk

stopwords = nltk.corpus.stopwords.words('english')

In [16]:
# Define a function to remove all stopwords
def remove_stopwords(tokenized_text):    
    text = [word for word in tokenized_text if word not in stopwords]
    return text

messages['text_nostop'] = messages['text_tokenized'].apply(lambda x: remove_stopwords(x))

messages.head()

,label,text,text_clean,text_tokenized,text_nostop
0,ham,"Go until jurong point, crazy.. Available only ...",Go until jurong point crazy Available only in ...,"[go, until, jurong, point, crazy, available, o...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,Ok lar Joking wif u oni,"[ok, lar, joking, wif, u, oni]","[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f...","[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,U dun say so early hor U c already then say,"[u, dun, say, so, early, hor, u, c, already, t...","[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l...","[nah, dont, think, goes, usf, lives, around, t..."

<img align="left" src="images/tfidf.png"     style=" width:800px;  ">

In [18]:
import pandas as pd
import re
import string
import nltk
pd.set_option('display.max_colwidth', 100)

stopwords = nltk.corpus.stopwords.words('english')

messages = pd.read_csv('data/spam.csv', encoding='latin-1')
messages = messages.drop(labels = ["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis = 1)
messages.columns = ["label", "text"]
messages.head()

,label,text
0,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there g..."
1,ham,Ok lar... Joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
3,ham,U dun say so early hor... U c already then say...
4,ham,"Nah I don't think he goes to usf, he lives around here though"

#### Create Function To Clean Text

In [20]:
# Define a function to handle all data cleaning
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word not in stopwords]
    return text

#### Apply TfidfVectorizer

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Initialize the TfidfVectorizer with a custom analyzer function
tfidf_vect = TfidfVectorizer(analyzer=clean_text)

# Fit the vectorizer to the text data and transform it into TF-IDF matrix
X_tfidf = tfidf_vect.fit_transform(messages['text'])

# Print the shape of the resulting TF-IDF matrix
print(X_tfidf.shape)
print()

# Print the feature names (i.e., the vocabulary learned by the vectorizer)
print(tfidf_vect.get_feature_names_out())

(5572, 9395)

['' '0' '008704050406' ... 'ûïharry' 'ûò' 'ûówell']

In [23]:
# How is the output of TfidfVectorizer stored?
X_tfidf

<5572x9395 sparse matrix of type '<class 'numpy.float64'>'
	with 50453 stored elements in Compressed Sparse Row format>

# Building A Basic Random Forest Model On Top Of Vectorized Text

In [25]:
# Read in, clean, and vectorize data
import nltk
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer
import string

stopwords = nltk.corpus.stopwords.words('english')

messages = pd.read_csv('data/spam.csv', encoding='latin-1')
messages = messages.drop(labels = ["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis = 1)
messages.columns = ["label", "text"]


def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [word for word in tokens if word not in stopwords]
    return text


# Initialize the TfidfVectorizer, specifying 'clean_text' as the custom text processing function.
tfidf_vect = TfidfVectorizer(analyzer=clean_text)

# Fit the vectorizer to the text data in the 'text' column of the 'messages' DataFrame and transform it into a TF-IDF matrix.
X_tfidf = tfidf_vect.fit_transform(messages['text'])

# Convert the sparse TF-IDF matrix to a dense format and then to a DataFrame for easier manipulation and analysis.
X_features = pd.DataFrame(X_tfidf.toarray())

X_features.head()

,0,1,2,3,4,5,6,7,8,9,...,9385,9386,9387,9388,9389,9390,9391,9392,9393,9394
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### Explore RandomForestClassifier Attributes & Hyperparameters

In [27]:
# Import Random Forest for classification from sklearn
from sklearn.ensemble import RandomForestClassifier

# View the arguments (and default values) for RandomForestClassifier
print(RandomForestClassifier().get_params())

{'bootstrap': True, 'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': 'sqrt', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'monotonic_cst': None, 'n_estimators': 100, 'n_jobs': None, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}

#### Explore RandomForestClassifier On A Holdout Set

In [29]:
# Import the methods that will be needed to evaluate a basic model
from sklearn.metrics import precision_score, recall_score
from sklearn.model_selection import train_test_split

# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_features,         # TF-IDF features extracted from the text data
                                                    messages['label'],  # Target labels corresponding to the text data
                                                    test_size=0.2)      # Allocates 20% of the data for testing and 80% for training

In [30]:
# Fit a basic Random Forest model
rf = RandomForestClassifier()         # Initialize the Random Forest classifier with default parameters
rf_model = rf.fit(X_train, y_train)   # Train the model on the training data (X_train) and corresponding labels (y_train)

In [31]:
# Predict the labels for the test set using the trained model
y_pred = rf_model.predict(X_test)

y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [32]:
# Evalute model predictions using precision and recall
precision = precision_score(y_test, y_pred, pos_label='spam')
recall = recall_score(y_test, y_pred, pos_label='spam')

print('Precision: {} / Recall: {}'.format(round(precision, 3), round(recall, 3)))

Precision: 1.0 / Recall: 0.8

In [33]:
from sklearn.metrics import precision_recall_fscore_support as score

# Calculate precision, recall, F1 score, and support for the 'spam' class
precision, recall, fscore, support = score(
    y_test,            # True labels for the test set
    y_pred,            # Predicted labels by the model
    pos_label='spam',  # Positive label in binary classification
    average='binary'   # Compute metrics for binary classification
)

print('Precision: {} / Recall: {} / Accuracy: {}'.format(
    round(precision, 3),        # Round precision to 3 decimal places
    round(recall, 3),           # Round recall to 3 decimal places
    round((y_pred == y_test).sum() / len(y_pred), 3)  # Round accuracy to 3 decimal places
))

Precision: 1.0 / Recall: 0.8 / Accuracy: 0.978

You can see that our precision is 100%, which is great, and our recall is 81.6%. So just as a reminder of what that actually means in the context of a spam filter, 100% precision means that when the model identified something as spam, it was actually spam 100% of the time. So that's great. The 81.6% recall means that of all the spam that came into your email, 81.6% of it was properly placed in the spam folder, which means the other 18.4% went into your inbox. So that's not great. 

So in summary, the amount of spam still making it into your inbox tells us that our model is not aggressive enough in identifying spam.